html {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
    background-color: #04C4D9;
}

/* front page starts*/

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
/* buttons in front page */
#btns {

  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;


}


/* button style starts*/

.button-19 {
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0.5rem;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 50%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}
/* button style ends */
/* front page ends*/

/* main page starts */

#quit{
  width: 30%;
}

.container {
  background-color: #F2CB05;
  text-align: right;
  padding: 1rem;
}

article {
  width: calc(100% / 3 - 2rem);
  background-color: #F2AF5C;
  box-sizing: border-box;
  cursor: pointer;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 3px 6px 6px #BF9004;
  transition: all 0.2s ease-in-out;
  line-height: 2rem;
  display: inline-block;
}

article:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 2px #ccc;
}

article h2 {
  margin: 0;
  text-align: center;
  padding: 0 0 0.5rem 0;
}


#status ul li {
  list-style-type: none;
}
#placeholder {
  display: inline-block;
  width: 60%;
  margin: 2rem;
}
footer {
  background-color: #F2CB05;
  text-align: right;
  padding: 1rem;

}

/* choice starts */
.main {
  margin: 2rem;
}
#choose {
  text-align: left;
}
#choice_bar {
  width: 40%;
  display: inline-block;
}

#pic_des{
  width: 50%;
  display: inline-block;
}

table, td {
  border: 1px solid #333;
  text-align: center;
}