@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: 'Advent Pro', sans-serif;
}


body {
    background-color: #04C4D9;
  margin: 0;
}

/* front page starts*/

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
/* buttons in front page */
.btns {

  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;

}


/* button style starts*/

.button-19 {
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0.5rem;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 50%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}
/* button style ends */
/* front page ends*/

/* id.html */
#intro{
  margin-bottom: 2rem;
}


#intro p {
  font-size: x-large;
}

#name, #submit {
  width: 10rem;
  height: 2rem;
}
/* main page starts */
h2 {
  float: left;
  margin-left: 2rem;
  margin-top: 1.5rem;
  font-size: xx-large;
}


#quit, #back, #back2, #start, #destination, #next {
  width: 30%;
  margin-right: 3rem;

}

.container {
  background-color: #F2CB05;
  overflow: hidden;
  position: fixed;
  top: 0;
  text-align: right;
  padding: 1rem;
  width: 100%;
}

article {
  width: calc(100% / 3 - 2rem);
  background-color: #F2AF5C;
  box-sizing: border-box;
  cursor: pointer;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 3px 6px 6px #BF9004;
  transition: all 0.2s ease-in-out;
  line-height: 2rem;
  display: inline-block;
  font-size: larger;
}

article:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 2px #ccc;
}

article h2 {
  margin: 0;
  text-align: center;
  padding: 0 0 0.5rem 0;

}

#status {
  float: left;
  width: 35%;
  margin-right: 3rem;
}

#status ul li {
  list-style-type: none;
}

#map {
  height: 600px;
    width: 50%;

}
#placeholder {
  display: inline-block;
  width: 60%;
  margin-left: 2rem;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F2CB05;
  text-align: right;
  padding: 1rem;

}

/* choice starts */
.main {

  margin-left: 2rem;
  margin-top: 10rem;
}
#choose {
  text-align: left;
  height: 10.6%;
}
#choice_bar {
  width: 40%;
  display: inline-block;
}

#pic_des{
  width: 55%;
  display: inline-block;
  text-align: center;
}
#plane_pic{
  width: 75%;
}

table {
  width: 100%;
  border: 1px solid #333;
  table-layout: fixed;
  text-align: center;
}

td {
  border: 1px solid #333;
  text-align: center;
}

th {
  text-align: left;
}

/* choice_des.html */

#des_map{
    height: 600px;
  display: inline-block;
  float: right;
  width: 55%;
  margin-right: 2rem;
}

#choice_des{
  margin-top: 2rem;
  margin-left: 1.5rem;
  display: inline-block;
  float: left;
  width: 40%;
  text-align: left;
}
#des1, #des2, #des3, #des4, #des5 {
  width: 40%;
  display: inline-block;
}



/* event page animation */

.light {
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
     bottom: 295px;
  position: absolute;
  z-index: 10;
  left: 20px;
  animation: light 800ms ease-in-out 0s infinite alternate;
}
.cloud {
  position: absolute;
  top: 0px;
  right: -500px;
  opacity: .8;
   animation: cloud 9s linear 0s infinite reverse; /* adjust the speed here. */
  z-index: 99;
}
@keyframes light {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes cloud {
  from {right:-500px;}
  to {right: 102%;}
}

/* score.html */
#scoreboard {
  margin: 3rem;
  padding: 2rem;
  text-align: center;

}


*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  background: #105469;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
}
th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}
.disabled td {
  color: #4F5F64;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #014055;
}

